Polyclinik/PolWebApplication/Connected Services/ServiceReference/PolyclinicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58321/PolyclinicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PolyclinicService" />
  <xs:element name="GetVisits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="GetVisitsResult" nillable="true" type="q1:ArrayOfVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="visit" nillable="true" type="q2:Visit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateVisitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="visit" nillable="true" type="q3:Visit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVisitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="visit" nillable="true" type="q4:Visit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVisitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTokenPayments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTokenPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="getTokenPaymentsResult" nillable="true" type="q5:ArrayOfToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="tokenDto" nillable="true" type="q6:TokenPaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTokenExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PolyclinicService" minOccurs="0" name="functions" type="q7:Functions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTokenExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTokenExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>